<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medusa.checkit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.medusa.checkit.MenuActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:theme="@style/MenuTheme" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </activity>
        <activity
            android:name="com.medusa.checkit.NewChecklistActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.medusa.checkit.ContinueChecklistActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.medusa.checkit.ChecklistService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name" >
        </service>

        
    </application>

</manifest>
